/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
}

#logo .logo-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.nav-link {
    color: #333;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
}

.nav-link:hover {
    color: #007bff;
}

/* Search Bar */
.search-container {
    display: flex;
    align-items: center;
    max-width: 350px;
}

#search-input {
    flex: 1;
    max-width: 200px;
}

/* Section Styles */
section {
    background-color: #f8f9fa;
    padding: 3rem 0;
}

h1 span {
    color: #007bff;
}

/* Card Styles */
.bg-gradient-card {
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */
    width: auto; /* Responsive width */
    border-radius: 15px;
    width: 50%;

}

.card-content {
        width: 100%;
        max-width: 900px; /* Prevent it from growing too large */
        text-align: center; /* Centers the text inside */
}
.bg-gradient-card img {
    width: 50px;
    height: 50px;
}

.bg-gradient-card p {
    color: #333;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 576px) {
    .search-container {
        flex-direction: column;
    }

    #search-input {
        margin-bottom: 10px;
        width: 100%;
    }

    #search-button {
        width: 100%;
    }
}